pkgbase = linux-lts
	pkgdesc = LTS Linux
	pkgver = 6.18.32
	pkgrel = 2
	url = https://www.kernel.org
	arch = x86_64
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xz
	makedepends = graphviz
	makedepends = imagemagick
	makedepends = python-sphinx
	makedepends = python-yaml
	makedepends = texlive-latexextra
	options = !debug
	options = !strip
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.32.tar.xz
	source = https://cdn.kernel.org/pub/linux/kernel/v6.x/linux-6.18.32.tar.sign
	source = 0001-ZEN-Add-sysctl-and-CONFIG-to-disallow-unprivileged-C.patch
	source = 0002-drm-amdgpu-avoid-memory-allocation-in-the-critical-code-path-v3.patch
	source = 0003-drm-amdgpu-use-GFP_ATOMIC-instead-of-NOWAIT-in-the-critical-path.patch
	source = 0004-net_skbuff_preserve_shared-frag_marker_during_coalescing.patch
	source = 0005-net_skbuff_propagate_shared-frag_marker_through_frag-transfer_helpers.patch
	source = 0006_net_rds_reset_op_nents_when_zerocopy_page_pin_fails.patch
	source = 0007-Bluetooth_btmtk_accept_too_short_WMT_FUNC_CTRL_events.patch
	source = config
	validpgpkeys = ABAF11C65A2970B130ABE3C479BE3E4300411886
	validpgpkeys = 647F28654894E3BD457199BE38DBBDC86092693E
	sha256sums = 067dadd445578284ea6158f312f7970d8940fed3e094dbe49cff66d188d3bda4
	sha256sums = SKIP
	sha256sums = e5bda61fa4405571a0267cd8812329bb8a432a37efb50459461628d371849906
	sha256sums = c31b8c0ace123f5c1a0012a1254272eea9ac9cdd0d3e5d538ca6b11830dd01b0
	sha256sums = 0f482368b62c3cece941e2d3ba497bf322db59315df5c2f72500fc1318e4768e
	sha256sums = a4b6854548cb9d3ee4f7e037c70195b997c3b9f8b8fcb1ab22dd52159826523b
	sha256sums = 4b69d7b8f75f0db29b9510c693ee9ee73460c9b2cf2036cac8a33c6cb3a1a898
	sha256sums = 7d7e2b4ea945ef1bc45162fc40dad837d3132f3787737c5a54daccc106b739aa
	sha256sums = 34bacfe7d70a574c235154f2597847721492dae2f01787c0a3096d6784f6e6b8
	sha256sums = e3de2a71fd5c9af863e9f651a424c2a084b8fa6db113c5769fd6a674b4e8699a
	b2sums = f292fd58cf61b23dbe40e4a1124d2e310712b2b3826195f348b9c5ab7773de9b4eed48e9abc524c5c2d5a05adab13fd305bab7ebfa0a829217e265ff4cdc69f5
	b2sums = SKIP
	b2sums = 5b3597cab8b174ff41b3f17aae6d1376a155356f781542e2e176d66c5a6dee53f7a1db8e2b9540ce8246efac4e27476c882fc8cc8063f0f514ae09230b5aef0a
	b2sums = a71f78bea42d158fc9383f2bbb985dafa71274d2032876b67f84602c8085b1c53f3d36965e54e5fdbab5c0d7537c98d917bd7743d3cf373c1dcb6da3bc19f4e7
	b2sums = c9d4ec8fac86a9b6f0567c57f6d5be04d56f8efbc9dc1b183981dad38387d750b53c17fcdd295cb68a874bf50f81d117cfe94bd3a8d9e08e1918644ae8daa3e5
	b2sums = 5a5d41e58145d084ea14d93deccc3a093e3a3a84fd12bc1bde2145bc60c933dded8ae82e94cfa089c934229d5eee80602899805779d6cc0e379b48de67f9d1c3
	b2sums = 5f9c69cd8f3ce4e39e7d393b09db27d96cb515845f37088d2a24263c674f14b4de292ded31a0b62dafd6679d5b7c431e0f8fde9561749a7f19e848b4850bb184
	b2sums = e07081dd195636854a6f38b334cdfa1bdf0ae64fbcf0f9f239df292840c703045b0630e7255ea2a0f6369feef6ca3c445e6351fbcafe197ff0244a90c230e2d8
	b2sums = c2ed7c05dffdf1a96d94651966a95470b7da520a8910c7de263efb60d9be94331fe615e2cc58ab158ecd86ecb43106aa691502acd54e2cb0d505819dd12e5a6c
	b2sums = e4274f278857cedeed8d1d8b45189ba557cd1f6a45770dda7df6d9f85018339e6e7d4b3deb5e69b6e4a93d73584096c16c0b4043366ecf9ba93dec9d79ccbfa2

pkgname = linux-lts
	pkgdesc = The LTS Linux kernel and modules
	license = Apache-2.0 OR MIT
	license = BSD-2-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = BSD-3-Clause OR GPL-2.0-or-later
	license = BSD-3-Clause-Clear
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later OR BSD-3-Clause
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = GPL-2.0-or-later WITH GCC-exception-2.0
	license = ISC
	license = LGPL-2.0-or-later
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-or-later
	license = MIT
	license = MPL-1.1
	license = X11
	license = Zlib
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = wireguard-lts

pkgname = linux-lts-headers
	pkgdesc = Headers and scripts for building modules for the LTS Linux kernel
	license = BSD-3-Clause
	license = BSD-3-Clause OR GPL-2.0-only
	license = GPL-1.0-or-later
	license = GPL-1.0-or-later WITH Linux-syscall-note
	license = GPL-2.0-only
	license = GPL-2.0-only OR Apache-2.0
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR CDDL-1.0
	license = GPL-2.0-only OR Linux-OpenIB
	license = GPL-2.0-only OR Linux-OpenIB OR BSD-2-Clause
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-only OR MPL-1.1
	license = GPL-2.0-only OR X11
	license = GPL-2.0-only WITH Linux-syscall-note
	license = (GPL-2.0-only WITH Linux-syscall-note) AND MIT
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-2-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-only WITH Linux-syscall-note) OR CDDL-1.0
	license = (GPL-2.0-only WITH Linux-syscall-note) OR Linux-OpenIB
	license = (GPL-2.0-only WITH Linux-syscall-note) OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR BSD-3-Clause
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later WITH Linux-syscall-note
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR BSD-3-Clause
	license = (GPL-2.0-or-later WITH Linux-syscall-note) OR MIT
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = ISC
	license = LGPL-2.0-or-later WITH Linux-syscall-note
	license = LGPL-2.0-or-later OR BSD-2-Clause
	license = LGPL-2.1-only
	license = LGPL-2.1-only OR BSD-2-Clause
	license = LGPL-2.1-only OR MIT
	license = LGPL-2.1-only WITH Linux-syscall-note
	license = LGPL-2.1-or-later
	license = LGPL-2.1-or-later OR BSD-2-Clause
	license = LGPL-2.1-or-later WITH Linux-syscall-note
	license = MIT
	license = Zlib
	depends = pahole
	provides = LINUX-HEADERS

pkgname = linux-lts-docs
	pkgdesc = Documentation for the LTS Linux kernel
	license = BSD-3-Clause
	license = GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only
	license = GPL-2.0-only OR BSD-2-Clause
	license = GPL-2.0-only OR BSD-3-Clause
	license = GPL-2.0-only OR GFDL-1.1-no-invariants-or-later
	license = GPL-2.0-only OR GFDL-1.2-no-invariants-only
	license = GPL-2.0-only OR MIT
	license = GPL-2.0-or-later
	license = GPL-2.0-or-later OR BSD-2-Clause
	license = GPL-2.0-or-later OR CC-BY-4.0
	license = GPL-2.0-or-later OR MIT
	license = GPL-2.0-or-later OR X11
	license = LGPL-2.1-only OR BSD-2-Clause
	license = MIT
